<div>
  <h1>Directives</h1>
  <p>
    Directives are typically implemented as an html attribute of existing Angular Components or native components. A Directive
    will manipulate the data inside of a Component that contains the attribute to result in a common behavior.
  </p>
  <md-list>
    <h3>Directives Resources</h3>
    <md-list-item>
      <a href="https://www.youtube.com/watch?v=fGKNOD__LEQ">Introduction to Angular 2 Directives</a>
    </md-list-item>
    <md-list-item>
      <a href="https://www.youtube.com/watch?v=jrClDKTNPVQ">Structural Directives, ngIf, ngFor</a>
    </md-list-item>
    <md-list-item>
      <a href="https://www.youtube.com/watch?v=ZvTBGTBikhI">Creating Custom Directives</a>
    </md-list-item>
    <md-list-item>
      <a href="https://www.youtube.com/watch?v=vestEnxEOeY">Angular 2 Directives Tutorial: Create tabs with custom directives </a>
    </md-list-item>
    <md-list-item>
      <a href="https://youtu.be/ZqGvilzDbac?t=2206">Advanced Custom Directives with TemplateRef</a>
    </md-list-item>
  </md-list>
</div>
