<div>
  <h1>Additional Links</h1>
  <p>
    Here are some similar curated lists of links for learning Angular
  </p>
  <md-list>
    <md-list-item>
      <a href="https://github.com/timjacobi/angular2-education">Angular 2 Education</a>
    </md-list-item>
    <md-list-item>
      <a href="https://github.com/AngularClass/awesome-angular2">Awesome Angular</a>
    </md-list-item>
    <md-list-item>
      <a href="https://www.reddit.com/r/Angular2/comments/5xrwwi/helpful_angular_2_github_repos_curated_through/">Helpful Angular 2+ GitHub repos (curated through March 2017)</a>
    </md-list-item>
  </md-list>
</div>
