<div>
  <h2>Project Starters</h2>
  <div>
    <p>
      Getting started with Angular is a bit more involved than simply writing Angular code, you must also set up a development
      environment for bundling, packaging, and publishing your code. Most modern developmer workflows also include the functionality
      of refreshing your browser as you save changes, as well as other workflow enhancements. There are three options when
      choosing how to set up your development workflow, either come up with your own and spend a lot of time choosing and
      configuring different technologies, using a Seed to start your project, or using the Angular CLI.
    </p>
    <p>
      The Angular CLI is a project started by Google's Angular that creates a standard workflow for Angular developers, and removes
      the need for configuring the development environment. Their goal was to allow Angular developers to focus on writing
      Angular Code and not worry about the development environment. Their CLI project was started as a fork of the popular
      Ember-CLI, which did many of the same things for the Ember framework and it's community. The Angular CLI also has the
      added benefit of standardizing workflow and project scaffolding. This makes it easier to work on other projects generated
      with the Angular CLI once you're familiar with its workflow and the file structure it generates.
    </p>
    <p>
      There are many popular Seed projects for Angular. A seed project is generally a simple hello world example which which has
      workflow built-in. Users can then fork the seed and start building on top of the sample. I've listed some of the most
      popular seed projects for Angular here. These tend to vary a lot and require more expertise to customize for specific
      solutions. They're great for if you're looking to use or learn a specific set of technologies but can be burdensome
      if you're just starting out. Also be aware that seeds may vary in documentation and issue response times depending
      on how popular they are.
    </p>
    <p>
      The Angular CLI is intended a black box and allow developers to focus on writing front-end code, at the cost of making it
      more difficult to customize the workflow. Seed projects are much more flexible but have a higher entry threshold to
      learn all of the technologies used. I personally prefer the Angular CLI for enforcing standards and structure across
      multiple projects.
    </p>
  </div>
  <h3>Angular CLI</h3>
  <md-list>
    <md-list-item>
      <a href="https://www.youtube.com/watch?v=LN2xvQqAo-g">Angular-CLI &amp; You</a>
    </md-list-item>
    <md-list-item>
      <a href="https://www.youtube.com/watch?v=IQwXaZbdZH8">An introduction to Angular CLI Part 1 - Get to know the commands</a>
    </md-list-item>
  </md-list>
  <h3>Seeds</h3>
  <md-list>
    <md-list-item>
      <a href="https://mgechev.github.io/angular-seed/">Angular Seed: High-quality, modular starter project for Angular 2 (and beyond) with statically typed build and AoT</a>
    </md-list-item>
    <md-list-item>
      <a href="https://angularclass.github.io/angular2-webpack-starter/">Angular 2 Webpack Starter: An Angular 2 Starter kit featuring Angular 2, Karma, Protractor, Jasmine, TypeScript, and Webpack</a>
    </md-list-item>
    <md-list-item>
      <a href="https://github.com/DanWahlin/Angular-JumpStart">Angular JumpStart with TypeScript</a>
    </md-list-item>
    <md-list-item>
      <a href="https://github.com/rangle/angular2-redux-example">Angular 2/TypeScript/Redux/Webpack Example App</a>
    </md-list-item>
  </md-list>
</div>
