<div>
  <h1>Choosing an Editor</h1>
  <div>
    <p>
      If you have a preferred text editor then feel free to use what you're comfortable with, as long as it's a text editor and
      not a word processor. I'd highly suggest looking into <a href="https://code.visualstudio.com">Visual Studio Code</a>,
      because it was designed for TypeScript and JavaScript develpment. <a href="https://code.visualstudio.com">Visual Studio Code</a>
      is completely separate from the Visual Studio used for C development. It's available on all major platforms (Windows,
      OSX, and Linux), and is <a href="https://github.com/Microsoft/vscode">completely open source</a>. <a href="https://code.visualstudio.com">Visual Studio Code</a>
      has great intellisense support for TypeScript, which allows for autocompletion with API details when calling properties
      or methods of objects.
    </p>
    <p>Other popular editors include, <a href="https://atom.io/">Atom</a>, <a href="https://www.sublimetext.com/">Sublime Text</a>,
      <a href="http://brackets.io/">Brackets</a>, and <a href="https://www.jetbrains.com/webstorm/">WebStorm</a>.
    </p>
  </div>
  <md-list>
    <h3>Visual Studio Code</h3>
    <md-list-item>
      <a href="https://code.visualstudio.com/docs/introvideos/overview">Introductory Videos</a>
    </md-list-item>
    <md-list-item>
      <a href="https://medium.com/@tomsu/7-must-have-visual-studio-code-extensions-for-angular-af9c476147fd">7 must-have Visual Studio Code extensions for Angular</a>
    </md-list-item>
  </md-list>
</div>
