<div>
  <h1>Pipes</h1>
  <p>
    Pipes are used to transform variables inside of a Component's template by following the variable with a pipe '|' and the
    name of the pipe function. Generally they're used to transform strings to match a pattern, but one of the more common
    built-in pipes, the async pipe, can be used to convert a promise or observable value into the resulting output, so pipes
    are very flexible with how they can convert data. Other common pipes inlcude currency and date filters, for formatting
    money and timestamps for internationalization.
  </p>
  <md-list>
    <h3>@Pipe</h3>
    <md-list-item>
      <a href="https://coryrylan.com/blog/introduction-to-angular-pipes">Introduction to Angular Pipes</a>
    </md-list-item>
    <md-list-item>
      <a href="https://koukia.ca/pipes-in-angular2-be9fc5212045">Pipes in Angular2</a>
    </md-list-item>
    <md-list-item>
      <a href="https://medium.com/@mwhitt.w/converting-text-to-titlecase-using-angular2-pipes-552b3bfa8e22">Converting text to TitleCase using Angular2 Pipes</a>
    </md-list-item>
    <md-list-item>
      <a href="https://angular.io/docs/ts/latest/guide/pipes.html">Angular Docs - Pipes</a>
    </md-list-item>
  </md-list>
</div>
