<div>
  <h1>Advanced Topics</h1>
  <p>
    There are many advanced topics when it comes to Angular, including: how to organize an application, following best practices,
    styling, and understanding the internals of how Angular works. While many of these topics are important for building
    a production Angular application I've separated these topics because they're either optional or not required for making
    a simple application.
  </p>
  <h3>Angular Material</h3>
  <p>
    Angular Material is a component library that follows Google's Material Design specification. It's currently being worked
    on by a team at Google. This is the future version of the popular AngularJS Material project, and it's being completely
    re-written using Angular 2 components and logic.
  </p>
  <md-list>
    <md-list-item>
      <a href="https://www.youtube.com/watch?v=0q9FOeEELPY">Angular Material</a>
    </md-list-item>
    <md-list-item>
      <a href="https://material.angular.io/">Angular Material</a>
    </md-list-item>
  </md-list>
  <h3>RxJs</h3>
  <p>
    <a href="http://reactivex.io/rxjs/">RxJS</a>, or Reactive Extensions for JavaScript, is a library for handling streams
    of data over time. Angular uses RxJS heavily under the hood for relaying data changes throughout an application. It's
    important to have a base understanding of RxJS to fully integrate with Angular's API. I would highly suggest looking
    into Observables, BehaviorSubjects, and the different transforms that you can perform on Observable streams.
  </p>
  <md-list>
    <md-list-item>
      <a href="https://www.youtube.com/watch?v=5CTL7aqSvJU">Go beast mode with realtime reactive interfaces in Angular 2</a>
    </md-list-item>
    <md-list-item>
      <a href="https://www.youtube.com/watch?v=3LKMwkuK0ZE">RxJS 5 Thinking Reactively</a>
    </md-list-item>
    <md-list-item>
      <a href="https://medium.com/aviabird/angular-2-the-new-craze-of-observables-operators-e2b9dcb9330a">Angular 2 the new craze of Observables &amp; Operators</a>
    </md-list-item>
    <md-list-item>
      <a href="https://blog.kwintenp.com/how-share()-can-reduce-network-requests/">How share() can reduce network requests</a>
    </md-list-item>
    <md-list-item>
      <a href="http://orizens.com/wp/topics/lessons-learned-from-creating-a-typeahead-with-rxjs-and-angular-2/">Lessons Learned from Creating A Typeahead With RxJs And Angular 2</a>
    </md-list-item>
  </md-list>
  <md-list>
    <h3>Debugging</h3>
    <md-list-item>
      <a href="https://coryrylan.com/blog/angular-debugging-tips-and-tricks">Angular Debugging Tips and Tricks</a>
    </md-list-item>
    <h3>Dynamic Content</h3>
    <md-list-item>
      <a href="https://youtu.be/ZqGvilzDbac?t=617">How do I dynamically load components?</a>
    </md-list-item>
    <md-list-item>
      <a href="https://www.youtube.com/watch?v=EMjTp12VbQ8">Understanding Component Rendering</a>
    </md-list-item>
    <h3>Change Detection and Zones</h3>
    <md-list-item>
      <a href="https://www.youtube.com/watch?v=X0DLP_rktsc">Angular 2 Change Detection and Zones Explained</a>
    </md-list-item>
    <md-list-item>
      <a href="https://blog.thoughtram.io/angular/2016/02/22/angular-2-change-detection-explained.html">Angular 2 Change Detection and Zones Explained (Slides)</a>
    </md-list-item>
    <md-list-item>
      <a href="https://netbasal.com/angular-2-escape-from-change-detection-317b3b44906b">Angular 2 — Escape From Change Detection</a>
    </md-list-item>
    <h3>Security</h3>
    <md-list-item>
      <a href="https://www.youtube.com/watch?v=l89acmnGMSc">Boosting the security of your Angular 2 application</a>
    </md-list-item>
    <md-list-item>
      <a href="https://dzone.com/articles/building-and-securing-koa-and-angular-2-with-jwt">Building and Securing Koa and Angular 2 With JWTs</a>
    </md-list-item>
    <h3>Accessibility (A11y)</h3>
    <md-list-item>
      <a href="https://www.youtube.com/watch?v=9y2MnXo45cs">Testing for accessibility in Angular 1 and 2</a>
    </md-list-item>
    <md-list-item>
      <a href="https://medium.com/@matuzo/writing-javascript-with-accessibility-in-mind-a1f6a5f467b9">Writing JavaScript with accessibility in mind</a>
    </md-list-item>
  </md-list>
  <h2>Optimization</h2>
  <p>
    In terms of optimizing an Angular application there are several key parts:
  </p>
  <ul>
    <li>Coding for performance by understanding how the compiler works</li>
    <li>Optimizing your bundling techniques with Tree Shaking</li>
    <li>Server side rendering with Angular Universal</li>
    <li>Precompiling your components with Angular AOT (Ahead of Time) compilation</li>
  </ul>
  <md-list>
    <h3>The Angular Compiler</h3>
    <md-list-item>
      <a href="https://www.youtube.com/watch?v=kW9cJsvcsGo">The Angular 2 Compiler</a>
    </md-list-item>
    <h3>Tree shaking overview</h3>
    <md-list-item>
      <a href="https://www.youtube.com/watch?v=_VnV7R4Ncwc">Optimizing Angular 2 Apps</a>
    </md-list-item>
    <h3>Angular Universal</h3>
    <md-list-item>
      <a href="https://www.youtube.com/watch?v=KiAnzAk04uA">Universal Tooling</a>
    </md-list-item>
    <md-list-item>
      <a href="https://universal.angular.io/">Angular Universal - Server-side Rendering for Angular 2 apps</a>
    </md-list-item>
    <md-list-item>
      <a href="https://www.youtube.com/watch?v=x0uadsX-HVI">Rescue your mobile experience!</a>
    </md-list-item>
    <h3>Ahead of Time Compilation (AOT)</h3>
    <md-list-item>
      <a href="http://blog.danieleghidoli.it/2017/01/15/i18n-angular-cli-aot/">Angular 2 internationalization explained: i18n + Angular CLI + AOT</a>
    </md-list-item>
    <md-list-item>
      <a href="http://blog.mgechev.com/2016/08/14/ahead-of-time-compilation-angular-offline-precompilation/">Ahead-of-Time Compilation in Angular</a>
    </md-list-item>
    <md-list-item>
      <a href="https://medium.com/@laco0416/try-angular-2-aot-compilation-ff5761a657c">Try Angular 2 AoT compilation</a>
    </md-list-item>
    <h3>Recent Changes</h3>
    <md-list-item>
      <a href="https://medium.com/@gerard.sans/angular-2-new-features-in-angular-2-3-f2e73f16a09e">New features in Angular 2.3</a>
    </md-list-item>
    <md-list-item>
      <a href="http://blog.ninja-squad.com/2016/12/22/what-is-new-angular-2.3-and-2.4/">What's new in Angular 2.3 and 2.4?</a>
    </md-list-item>
    <md-list-item>
      <a href="http://angularjs.blogspot.com/2016/12/ok-let-me-explain-its-going-to-be.html">Ok... let me explain: it's going to be Angular 4.0, or just Angular</a>
    </md-list-item>
    <md-list-item>
      <a href="https://jaxenter.com/road-angular-4-rc2-131386.html">On the road to Angular 4: RC.2 — Two more and that’s it</a>
    </md-list-item>
    <h3>Other</h3>
    <md-list-item>
      <a href="http://blog.wolksoftware.com/contributing-to-definitelytyped">How to create your own TypeScript type definition files (.d.ts)</a>
    </md-list-item>
    <md-list-item>
      <a href="https://medium.com/@amcdnl/angular2-things-you-might-not-know-439ce70d335a">Angular2 Tips &amp; Tricks</a>
    </md-list-item>
  </md-list>
</div>
