<div>
  <h1>Testing</h1>
  <p>
    Angular was designed to be easily testable. The dependency injection system allows for services to be easily mocked and the
    Angular Testbed system allows for components to easily be created in isolation. There are two basic forms of testing
    a web application, unit testing, and scenario (end-to-end) testing. These forms of testing require different toolsets.
    Most developers focus on unit-testing all of the functions inside of their application while QA engineers focus on setting
    up scenarios to ensure workflows can be completed.
  </p>
  <p>
    Common tools for unit testing include <a href="https://karma-runner.github.io/1.0/index.html">Karma</a>, which loads
    the tests into a browser, <a href="https://mochajs.org/">Mocha</a>, which is a framework for writing test cases, <a href="http://chaijs.com/">Chai</a>,
    an assertion library, <a href="http://sinonjs.org/">Sinon</a>, which is used for creating mocks of objects, and <a href="https://jasmine.github.io/">Jasmine</a>,
    which is a test framework which includes its own assertion and mocking functions. Depending on how you started out your
    project some of these libraries may have been included for you. For example, the Angular CLI includes Karma and Jasmine
    for running tests.
  </p>
  <p>
    Angular has a popular tool for end-to-end testing called <a href="http://www.protractortest.org/">Protractor</a>. Protractor
    uses a webdriver to load your Angular application into a browser and then run through a list of instructions to select
    elements on the page and fires off events such as clicking, typing, or moving the mouse. The tests then check if the
    page displays the expected data. For example, filling out a form and expecting either errors or a successful submission.
  </p>
  <md-list>
    <h3>Unit Testing</h3>
    <md-list-item>
      <a href="https://www.youtube.com/watch?v=f493Xf0F2yU">Testing Angular 2</a>
    </md-list-item>
    <md-list-item>
      <a href="https://medium.com/google-developer-experts/angular-2-testing-guide-a485b6cb1ef0">Angular 2  Testing Guide</a>
    </md-list-item>
    <md-list-item>
      <a href="https://dzone.com/articles/talk-testing-with-angular-some-recipes">Testing With Angular 2: Some Recipes</a>
    </md-list-item>
    <md-list-item>
      <a href="https://blog.thoughtram.io/angular/2016/11/28/testing-services-with-http-in-angular-2.html">Testing Services With Http In Angular</a>
    </md-list-item>
    <md-list-item>
      <a href="https://auth0.com/blog/angular-testing-in-depth-http-services/">Angular Testing In Depth: HTTP Services</a>
    </md-list-item>
    <md-list-item>
      <a href="https://semaphoreci.com/community/tutorials/testing-routes-in-angular-2">Testing Routes in Angular 2</a>
    </md-list-item>
    <h3>End-To-End Testing</h3>
    <md-list-item>
      <a href="https://www.youtube.com/watch?v=X83llYnZyGc">Angular E2E testing made easy</a>
    </md-list-item>
    <md-list-item>
      <a href="https://github.com/pageobject-io/angular2-demo">Demonstration of Angular 2 end to end testing</a>
    </md-list-item>
    <h3>Testing Strategies</h3>
    <md-list-item>
      <a href="https://vsavkin.com/three-ways-to-test-angular-2-components-dcea8e90bd8d">Three Ways to Test Angular Components</a>
    </md-list-item>
    <md-list-item>
      <a href="http://blog.zsec.uk/ltr101-method-to-madness/">WebAppTesting - Methods to the Madness</a>
    </md-list-item>
  </md-list>
</div>
