<div>
  <h1>Routing</h1>
  <p>
    Routing allows for different pages to be loaded in response to URL changes. Page routing is at the core of every single page
    application JavaScript framework, but Angular also levereges route configuration to split up your code into smaller chunks,
    and enables lazy loading and pre-loading of routes. In previous web frameworks all of the code for all of the routes
    was typically contained in a bundle when building an application, by separating out the code into smaller pieces Angular
    is able to deliver a smaller payload, and process less code to get an initial page to display. Additional pages can then
    be loaded in the background or on-demand as the user navigates through the application.
  </p>
  <p>
    The Angular router can handle multiple named routes on a page, or auxiliary routes. This allows for different parts of a
    page to react to route changes. A good example would be for a webmail portal with a preview pane, where the right side
    of the application is displaying either a list of e-mails or a calendar based on the URL and the preview pane is displaying
    details about a specifically selected item.
  </p>
  <p>
    Guards can be added to routes to prevent lazy loading or accessing pages based on data from a service. Be sure to not confuse
    this with security, as front-end code can always be manipulated by the end user, guards are intended to be a convenience
    to the end-user to not direct them towards pages in which the don't have access.
  </p>
  <md-list>
    <h3>Routing Links</h3>
    <md-list-item>
      <a href="https://www.youtube.com/watch?v=QLns6s02O48">The Angular Router</a>
    </md-list-item>
    <md-list-item>
      <a href="https://toddmotto.com/angular-component-router">Getting started with Angular's Router</a>
    </md-list-item>
    <md-list-item>
      <a href="http://blog.angular-university.io/angular2-router/">Angular Router - Child Routes, Auxiliary Routes, Avoid Common Pitfalls</a>
    </md-list-item>
    <md-list-item>
      <a href="http://onehungrymind.com/named-router-outlets-in-angular-2/">Dreams Do Come True! Named Router Outlets in Angular 2</a>
    </md-list-item>
    <md-list-item>
      <a href="https://blog.thoughtram.io/angular/2016/07/18/guards-in-angular-2.html">Protecting Routes Using Guards In Angular</a>
    </md-list-item>
    <md-list-item>
      <a href="https://toddmotto.com/dynamic-page-titles-angular-2-router-events">Dynamic page titles in Angular 2 with router events</a>
    </md-list-item>
    <md-list-item>
      <a href="https://www.youtube.com/watch?v=i0y5bJx8RFc">Improving Start-up Performance with Lazy Loading in Angular 2</a>
    </md-list-item>
  </md-list>
</div>
