<div>
  <h1>Forms</h1>
  <p>
    Angular comes with two different modules for handling forms. The <code>FormsModule</code>, also known as Template Driven
    Forms, and the <code>ReactiveFormsModule</code>, also known as Model Driven or Reactive Forms. Both of these are powerful
    tools which end up with a similar result, which is an object that represents the form state. The form state includes
    each field, the value, if the field has been touched or modified, and if each field, or the overall form, is valid. Template
    driven forms are a bit easier for the beginner but have limitations, Reactive forms are much more powerful for developers
    and allow for creating custom validators, but are a bit more advanced.
  </p>
  <md-list>
    <h3>Forms Resources</h3>
    <md-list-item>
      <a href="https://www.youtube.com/watch?v=xYv9lsrV0s4">Angular 2 Forms</a>
    </md-list-item>
    <md-list-item>
      <a href="https://www.youtube.com/watch?v=8CbZCmAwBCc">Angular 2 Forms, the hero we need but not the one we deserve</a>
    </md-list-item>
    <md-list-item>
      <a href="http://blog.angular-university.io/introduction-to-angular-2-forms-template-driven-vs-model-driven/">Introduction to Angular 2 Forms - Template Driven vs Model Driven or Reactive Forms</a>
    </md-list-item>
    <md-list-item>
      <a href="https://toddmotto.com/angular-2-forms-template-driven">Angular 2 form fundamentals: template-driven forms</a>
    </md-list-item>
    <md-list-item>
      <a href="https://toddmotto.com/angular-2-forms-reactive">Angular 2 form fundamentals: reactive forms</a>
    </md-list-item>
    <h3>Advanced Forms Topics</h3>
    <md-list-item>
      <a href="https://blog.thoughtram.io/angular/2016/07/27/custom-form-controls-in-angular-2.html">Custom Form Controls In Angular</a>
    </md-list-item>
    <md-list-item>
      <a href="https://toddmotto.com/reactive-formgroup-validation-angular-2">Reactive FormGroup validation with AbstractControl in Angular 2</a>
    </md-list-item>
    <md-list-item>
      <a href="https://toddmotto.com/angular-2-form-controls-patch-value-set-value">Updating Angular 2 Forms with patchValue or setValue</a>
    </md-list-item>
  </md-list>
</div>
