<div>
  <h1>Components</h1>
  <p>
    Components are the main building blocks of Angular applications. All of the html elements of an Angular application are either
    a Component or part of a Component. Components in Angular are a special type of Directive that always contains a template which can either be inline inside of the
    decorator or a separate html file. The html for the template follows Angular's special template syntax, and can include
    other Components or Directives.
  </p>
  <p>
    Components can optionally contain lifecycle hooks. These hooks are called by Angular at specific times during the rendering
    of a Component, or when changes are made to the data contained inside of a Component. Depending on the timing, or which
    lifecycle hook, you're using, you may or may not have access to external data points such as values being passed in to
    the component, or DOM tree values.
  </p>
  <md-list>
    <h3>Components Overview</h3>
    <md-list-item>
      <a href="https://www.youtube.com/watch?v=H3-Y47Pt0VU">Understanding Angular 2 Components</a>
    </md-list-item>
    <md-list-item>
      <a href="https://medium.com/aviabird/complete-angular-2-guide-components-in-depth-96fca743966b">Complete Angular 2 Guide: Components in Depth</a>
    </md-list-item>
    <h3>Template Syntax</h3>
    <md-list-item>
      <a href="https://medium.com/front-end-hacking/angular-2-a-quick-intro-about-template-syntax-121f9b160a64">Angular 2 — A quick intro about template syntax</a>
    </md-list-item>
    <md-list-item>
      <a href="https://angular.io/docs/ts/latest/guide/template-syntax.html">Angular Docs - Template Syntax</a>
    </md-list-item>
    <h3>Special use cases for the &lt;template&gt; tag</h3>
    <md-list-item>
      <a href="https://medium.com/@MichalCafe/angular-create-tabs-with-template-outlet-46b60eb64edf">Angular: Create tabs with template outlet</a>
    </md-list-item>
    <h3>@Input and @Output Decorators</h3>
    <md-list-item>
      <a href="https://www.youtube.com/watch?v=zAhOWyhTF7g">Angular 2 - Inputs - Communicate from Parent to Child Component</a>
    </md-list-item>
    <h3>@ViewChild, @ViewChildren, @ContentChild, and @ContentChildren Decorators</h3>
    <md-list-item>
      <a href="https://ng2.codecraft.tv/components/viewchildren-and-contentchildren/">ViewChildren &amp; ContentChildren</a>
    </md-list-item>
    <h3>@HostBinding and @HostListener Decorators</h3>
    <md-list-item>
      <a href="https://ng2.codecraft.tv/custom-directives/hostlistener-and-hostbinding/">HostListener &amp; HostBinding</a>
    </md-list-item>
    <h3>Component Lifecycle Hooks</h3>
    <md-list-item>
      <a href="https://www.youtube.com/watch?v=2ylDZsHeyzI">Lifecycle Hooks</a>
    </md-list-item>
    <md-list-item>
      <a href="https://angular.io/docs/ts/latest/guide/lifecycle-hooks.html">Angular Docs - Lifecycle Hooks</a>
    </md-list-item>
  </md-list>
</div>
