<div>
  <h1>Introduction to Angular</h1>
  <p>
    To get started I'd suggest reviewing the key concepts so that you'll understand the keywords being used, the different parts
    of an Angular Application, and to understand what Angular is trying to accomplish as a framework.
  </p>
  <p>
    Also, before digging into Angular it's important to have an understanding of TypeScript. This is because Angular was written
    using TypeScript and most of the documentation is in TypeScript. There are many benefits to using TypeScript with Angular
    projects such as using Decorators and type based Dependency Injection. It's possible to write Angular in JavaScript but
    it requires writing a lot of additional code and there isn't much documentation for writing Angular in pure JavaScript.
  </p>
  <p>
    For those just starting out I'd highly suggest following along with the walkthroughs and example applications below, this
    is a great way to see all of the different parts of an Angular application come together to create an end product.
  </p>
  <md-list>
    <h3>Overview of the key concepts in Angular</h3>
    <md-list-item>
      <a href="https://www.youtube.com/watch?v=EwYD_xqB7Qs">Angular 2 - Google I/O 2016</a>
    </md-list-item>
    <md-list-item>
      <a href="https://juristr.com/blog/2016/06/ng2-getting-started-for-beginners/">Angular 2 - A Getting Started Guide for Beginners</a>
    </md-list-item>
    <h3>TypeScript</h3>
    <md-list-item>
      <a href="https://vsavkin.com/writing-angular-2-in-typescript-1fa77c78d8e8">Angular 2: Why TypeScript?</a>
    </md-list-item>
    <md-list-item>
      <a href="https://www.youtube.com/watch?v=e3djIqAGqZo">Typescript: Angular 2's Secret Weapon</a>
    </md-list-item>
    <md-list-item>
      <a href="https://www.youtube.com/watch?v=zqFrF3WMegw">What's New in TypeScript 2.0 &amp; 2.1</a>
    </md-list-item>
    <h3>Video walkthroughs of making simple Angular 2 applications</h3>
    <md-list-item>
      <a href="https://www.youtube.com/watch?v=zoCLEwFUpqg">Build Angular 2 apps with TypeScript and Visual Studio Code</a>
    </md-list-item>
    <md-list-item>
      <a href="https://www.youtube.com/watch?v=fXHyqSIIF9Q">Ready to create your first Angular app? Let's do it together</a>
    </md-list-item>
    <md-list-item>
      <a href="https://egghead.io/lessons/angular-2-say-hello-world-to-angular-2">Say "Hello World" to Angular 2</a>
    </md-list-item>
    <h3>Example Open Source Angular 2 Applications</h3>
    <md-list-item>
      <a href="https://medium.com/aviabird/10-amazing-open-source-angular-2-x-apps-825fb169dce3">10 Amazing open source angular > 2.x apps</a>
    </md-list-item>
    <md-list-item>
      <a href="https://github.com/aviabird/yatrum">"We open sourced our startup's angular(2+) code."</a>
    </md-list-item>
    <h3>E-Books</h3>
    <md-list-item>
      <a href="https://angular-2-training-book.rangle.io/">Rangle's Angular 2 Training Book</a>
    </md-list-item>
    <h3>Official Angular 2 Documentation</h3>
    <md-list-item>
      <a href="https://angular.io/docs/ts/latest/">Angular Docs - TypeScript</a>
    </md-list-item>
  </md-list>
</div>
