<div>
  <h1>@Decorators</h1>
  <p>
    Decorators are a TypeScript feature that is <a href="https://github.com/tc39/proposal-decorators">currently in the proposal stages for being adopted into the EcmaScript specification</a>.
    Decorators are declared by prefixing the name of the decorator with the @ symbol. All Decorators are functions with an
    optional metadata object as a parameter.
  </p>
  <p>
    Decorators allow you to define metadata for a specified type of object. A decorator preceeds the variable declaration for
    the target object. Angular uses decorators heavily to inject metadata into variable declarations in a uniform way. Angular
    defines many decorators but you aren't limited to only using the ones Angular defines, you have the option of creating
    your own decorators as well.
  </p>
  <md-list>
    <h3>Decorator Resources</h3>
    <md-list-item>
      <a href="https://angular.io/docs/ts/latest/glossary.html#!#decorator-decoration">Angular Glossary: Decorator | decoration</a>
    </md-list-item>
    <md-list-item>
      <a href="https://medium.com/@ttemplier/angular2-decorators-and-class-inheritance-905921dbd1b7">Angular 2, decorators and class inheritance</a>
    </md-list-item>
    <md-list-item>
      <a href="https://toddmotto.com/angular-decorators">A deep dive on Angular decorators</a>
    </md-list-item>
    <md-list-item>
      <a href="https://netbasal.com/exploring-the-various-decorators-in-angular-b208875b207c">Exploring the Various Decorators in Angular</a>
    </md-list-item>
  </md-list>
</div>
