<div>
  <h1>Welcome to ng2.info!</h1>
  <p>
    This page was created by <a href="https://mcebrian.com">Michael Cebrian</a> as part of a Grand Challenges course at Villanova
    University.
  </p>
  <p>
    For this course I researched Angular and documented many of the websites which helped me on my journey. My goal was to help
    others learn Angular by outlining the key parts of creating Angular applications and providing a curated list of resources
    for learning each part. These are my picks for the resources which are most influential for learning Angular effectively.
  </p>
  <p>
    This list was last updated on March 5, 2017. When this site was created the current version of Angular was <code>2.4.9</code>.
    Be sure to check the current version and be aware of any changes that may have been made after this guide was last updated.
  </p>
  <p>
    For those looking to learn Angular, I hope this site helps you on your journey!
  </p>
</div>
